* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #333;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00bcd4;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 30px;
  padding: 40px;
  background-color: #f4f4f4;
  flex-wrap: wrap;
}

.box {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.box:hover {
  transform: rotate(2deg);
}

.box h2 {
  color: #333;
  margin-bottom: 10px;
}

.box p {
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  font-size: 14px;
  margin-top: auto;
}


@media (max-width: 800px) {
  main {
    flex-direction: column;
  }

  .box {
    width: 90%;
  }
}
